.label-default {
    background-color: inherit;
    margin-top: 10px;
    padding:0 0 0 25px ;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
}
.form-control {
    border-radius: 0;
}
.btn-primary {
    color: #fff;
    background-color: #dc143c;
    border-color: #ea3e10;
    width: 100%;
}
.btn-block {
    display: block;
}
.btn {
    padding: 8px 28px;
    font-weight: 400;
    -webkit-transition: background .3s ease-in;
    transition: background .3s ease-in;
    white-space: normal;
    border-width: 0 0 1px;
}
#background{
    height: 250px;
    background-color: ghostwhite;
    margin: 0 auto;
    width: 600px;
}
.bottom{
    margin-top: 15px;
}

#base{
    width: 600px;
    height: 800px;
    margin: 0 auto;
}
sup
{
    color: red;
}
.form-element
{
    padding-bottom:15px;
    margin-left: 25px;
}
#nav{
    margin: 20px;
}
#base
{
    background-image: url("/img/ttnBackground.jpg");
}
.sub{
    float:right;
    margin-right: 15px;
}
.error{
    color: red;
    font-size: 12px;
    margin-left: 25px;
}
p{
    margin-top: 25px;
    padding: 25px 25px 0 25px;
}
input{
    margin-left: 25px;
}
.btn{
    margin-left: 25px;
    width: auto;
}
input{
    width: auto;
}
.btn{
    width: auto;
}
#email{
    width: 450px;
}
#emailaddress{
    padding: 0px;
}