<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>FORGET PASSWORD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/forgotPassword.css}"/>
    <link rel="icon" href="../img/ttn.ico" type="image/gif" sizes="20x20"/>

</head>
<body id="base">

<div id="background">
    <form action="/resetPassword" method="post">
        <div class="forgot-form">
            <p>Please enter your new password below.</p>
            <label class="label-default">New Password</label>
            <input type="hidden" name="token" th:value="${token}"/>
            <input id="email" name="password" type="password" class="form-control"/>
            <br/>
            <input type="submit" class="btn btn-primary" value="CHANGE PASSWORD"/>
        </div>
    </form>
</div>
</body>
</html>